<md-toolbar color="primary">Chat</md-toolbar>

<div *ngIf="!isChatOpen">
    <md-input-container>
        <input md-input placeholder="Name" [(ngModel)]="currentUser.name" (keyup.enter)="startChatting()" autofocus>
    </md-input-container>
    <button (click)="startChatting()" md-button color="primary">
        Save name
    </button>
</div>

<div *ngIf="isChatOpen">
    <md-input-container>
        <input md-input placeholder="Message" [(ngModel)]="message" (keyup.enter)="sendMessage()" autofocus>
    </md-input-container>
    <button (click)="sendMessage()" md-button color="primary">
        Send message
    </button>
</div>

<md-card *ngIf="isChatOpen">
    <md-card-header>
        Messages
    </md-card-header>
    <md-list>
        <md-list-item *ngFor="let message of messageHistory">
            <md-icon md-list-avatar>{{ message.sentBy }}</md-icon>
            <h4 md-line>{{ message.content }}</h4>
            <span md-line class="message-time">{{ message.sentAt | date:'shortTime' }}</span>
        </md-list-item>
    </md-list>
</md-card>