<md-toolbar>Elite Chat</md-toolbar>
<div *ngIf="!currentUser.id">
    <md-input-container>
        <input md-input placeholder="Name" [(ngModel)]="currentUser.name">
    </md-input-container>
    <button (click)="startChatting()" md-button>Start chatting</button>
</div>

<div *ngIf="currentUser.id">
    <ul class="users">
        <li *ngFor="let user of users">
            <span class="badge">{{user.id}}</span> {{user.name}}
        </li>
    </ul>
    <div>
        <ul class="messages">
            <li *ngFor="let message of chat.messages">
                <span *ngIf="message.fromUserId == currentUser.id" class="message-sent-by-me">{{message.content}}</span>
                <span *ngIf="message.fromUserId != currentUser.id" class="message-sent-by-partner">{{message.content}}</span>
            </li>
        </ul>

        <div>
            <input type="text" [(ngModel)]="message">
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>

<!--<pre>-->
    <!--{{ users | json }}-->
<!--</pre>-->