<div *ngIf="!currentUser.id">
    <md-toolbar color="primary">Chat</md-toolbar>
    <md-input-container>
        <input md-input placeholder="Name" [(ngModel)]="currentUser.name" autofocus>
    </md-input-container>
    <md-input-container>
        <input md-input placeholder="Message" [(ngModel)]="message">
    </md-input-container>
    <button (click)="startChatting()" md-button color="primary">
        Send message
    </button>
</div>

<div *ngIf="currentUser.id">
    <md-grid-list cols="2">
        <md-grid-tile>
            <md-grid-tile-header class="md-primary">
                Connected contacts
            </md-grid-tile-header>
            <md-list>
                <md-list-item *ngFor="let user of users" (click)="chattingWithUser=user" class="contact">
                    <h3 md-line>{{user.name}}</h3>
                </md-list-item>
            </md-list>
        </md-grid-tile>

        <md-grid-tile *ngIf="chattingWithUser.id">
            <md-grid-tile-header>
                {{ chattingWithUser.name }}
            </md-grid-tile-header>
            <md-list class="messages">
                <md-list-item *ngFor="let message of chattingWithUser.chat.messages">
                    <p *ngIf="message.fromUserId == currentUser.id" class="message-sent-by-me">{{message.content}}</p>
                    <p *ngIf="message.fromUserId != currentUser.id" class="message-sent-by-partner">{{message.content}}</p>
                </md-list-item>
            </md-list>

            <md-grid-tile-footer>
                <md-input-container>
                    <input md-input [(ngModel)]="message">
                </md-input-container>
                <button (click)="sendMessage()" md-button>Send</button>
            </md-grid-tile-footer>

        </md-grid-tile>

        <md-grid-tile *ngIf="!chattingWithUser.id">
            Choose a contact and start chatting!
        </md-grid-tile>

    </md-grid-list>
</div>
